<!DOCTYPE html><html><head>
	<meta charset="utf-8" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>Libre Projects</title>
	<link rel="stylesheet" type="text/css" href="css/d.css" />
	<link rel="shortcut icon" href="images/favicon.png" />
	<link rel="apple-touch-icon-precomposed" href="images/favicon-touch.png" />
	<link rel="alternate" type="application/rss+xml" title="Libre Projects" href="https://github.com/libreprojects/libreprojects/commits/gh-pages/js/data.json.atom" />
	<script type="text/javascript" src="bower_components/angularjs/angular.js"></script>
	<script src="js/ui-bootstrap-tpls-0.11.0.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
</head>
<body ng-app='lp'>
<div ng-controller='HomeCtrl'>
	<h1 class="header">
		<a href="http://libreprojects.net">
			<img id="header-logo" src="images/favicon-touch.png" alt="" />
			<span>Libre Projects</span>
		</a>
	</h1>
	<p class="sub-title">
		<span id="nb-projects">{{data.nop}}</span> 
		<span class="translatable">open source hosted web services</span>
	</p>

	<ul id="locale"></ul>
	<p id="search">
		<input id="searching" ng-model="search.id" name="searching" type="search" placeholder="search" autofocus />
	</p>
	<p id="searchError"><span id="searchMessage" class="translatable">No results for</span> <strong><span id="searchItem"></span></strong>.</p>

	<div id="categories" ng-init='filtered=[]'>
		<div id="category">
			<div id="category_header">
				<h2 id="fav">
					<a href="#fav">&#9733;</a>
				</h2>
			</div>
			<div id="category_content">
				<ul>
					<li ng-repeat='project in filtered[key] = (favorites | filter: search.id:strict)' id="{{project.id}}" ng-if='project.favorite==true'>
						<a href ng-click='open(project)'>
							<img src="logos/{{project.id}}.png" alt="">
							<span class="project">
								<strong class="name" ng-model="p">{{project.name}}</strong>
								<span class="translatable">{{project.description}}</span>
							</span>
							<span class="star star-off"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div id="category" ng-show='filtered[key].length > 0' ng-repeat='(key,category) in data.categories '>
			<div id="category_header">
				<h2 id="{{category.id}}">
					<a href="#{{category.id}}" class="translatable">{{category.id}}</a>
				</h2>
			</div>
			<div id="category_content">
				<ul>
					<li ng-repeat='project in filtered[key] = (category.projects | filter: search.id:strict)' id="{{project.id}}" ng-if='project.favorite==false'>
						<a href ng-click='open(project)'>
							<img src="logos/{{project.id}}.png" alt="">
							<span class="project">
								<strong class="name" ng-model="p">{{project.name}}</strong>
								<span class="translatable">{{project.description}}</span>
							</span>
							<span class="star star-off"></span>
						</a>
					</li>
					<!-- <li ng-if='category.id=favorites' ng-repeat='favorite in favorites' id="{{favorite.id}}">{{favorite.name}}</li> -->
				</ul>
			</div>
		</div>
	</div>

	<footer>
		<h3 id="information" class="translatable">Information</h3>
		<p class="translatable">Web services listed here have free usage &amp; sharing as a main goal – using free licenses such as <a href='http://en.wikipedia.org/wiki/MIT_License'>MIT</a>, <a href='http://www.gnu.org/licenses/agpl.html'><abbr title='GNU Affero General Public License'>GNU AGPL</abbr></a>, <a title='preferably Attribution or Share-Alike' href='http://creativecommons.org/'>Creative Commons</a> or similar terms. There will be no advertising for corporations that offer libre features as a niche service. On the other hand, platforms that mainly distribute free content and don't require user accounts do not have to be free themselves.</p>
		<p class="translatable">In the end, hosted web services are all about mutual trust. Users trust that their data is secure and the service will stay available in the future. Developers trust that the service will not be abused.</p>
		<p class="translatable">Ideally, you have a <a href='http://freedomboxfoundation.org'>FreedomBox</a> running at home and don't need to trust anyone. But many are not in the position to do that; either because of no permanent residence, not enough money to afford it or a weak internet connection not able to serve data across the country. That's why we hope the <a href='http://unhosted.org'>Unhosted</a> architecture will get adopted.</p>

		<h3 id="participate" class="translatable">Participate</h3>
		<p class="translatable" xmlns:dct='http://purl.org/dc/terms/'>
			<a rel='dct:publisher' href='http://jancborchardt.net'><span property='dct:title'>Jan-Christoph Borchardt</span></a> &amp;
			<a rel='dct:publisher' href='http://github.com/jhuet'><span property='dct:title'>Jérémy Huet</span></a> have <a rel='license' href='http://creativecommons.org/publicdomain/zero/1.0/' title='by a Public Domain Dedication'>waived all copyright</a> on this project (logos are subject to their own license).
		</p>
		<p class="translatable"><a href='http://github.com/libreprojects/libreprojects'>Help with code</a>, <a href='http://github.com/libreprojects/libreprojects/issues/new'>suggest a project</a> (make sure it’s open source, hosted & usable) and tell your friends about this!</p>
	</footer>
</div>

<script type="text/ng-template" id="projectModal.html">
    <div class="modal-body">
	    <div id="project-details">
			<div class="header">
				<p>
					<a href="{{project.address}}">
						<img src="logos/{{project.id}}.png" alt="" class="logo" />
						<strong class="name">{{project.name}}</strong>
					</a>
				</p>
				<p class="cat-desc">
					<a href="#" class="category translatable">{{project.category}}</a>
					<span class="description translatable">{{project.description}}</span>
				</p>
				<ul class="tags">
					<li ng-repeat='tag in project.tags'>#{{tag}}</li>
				</ul>
			</div>
			<br />
			<div class="details modal-body">
				<p class="introduction translatable">{{project.introduction}}</p><br />
				<div ng-if='project.alternatives.length > 0' class="alternative-to">
					<p class="translatable label">Alternative to</p>
					<ul>
						<li ng-repeat='alternative in project.alternatives'>
							<a href="{{alternative.address}}">
								<img src="logos/alternatives/{{alternative.id}}.png" alt="{{alternative.name}}" />
							</a>
						</li>
					</ul>
				</div>
				<div ng-if='project.alternatives.length < 1'>
					<p class="label">
						No alternatives added yet
					</p>
				</div>
				<br />
				<div class="license">
					<p class="label">
						<a href="{{project.source}}">Source code</a>
					</p>
					<ul ng-if='project.fullLicenses'>
						<li ng-repeat='license in project.fullLicenses'>
							<a href="{{license.address}}">
								<img src="logos/licenses/{{license.id}}.png" alt="" />
							</a>
						</li>
					</ul>
					<ul ng-if='project.fullLicenses.length < 1'><li>No License added yet.</li></ul>
				</div>
			</div>
	    </div>
    </div>
</script>
<!--
	<script type="text/javascript" src="js/jquery.cookie.js"></script>
	<script type="text/javascript" src="js/jquery.ba-dotimeout.min.js"></script>
	<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
	<script type="text/javascript" src="js/jquery.Storage.js"></script>
	<script type="text/javascript" src="js/jquery.simplemodal.1.4.2.min.js"></script>
	<script type="text/javascript" src="js/jquery.smooth-scroll-1.4.1.min.js"></script>
	<script type="text/javascript" src="js/data.json"></script>
	<script type="text/javascript" src="js/default.js"></script>
	<script type="text/javascript" src="js/jquery.infieldlabel.min.js"></script>
	<script type="text/javascript" src="js/prefixfree.min.js"></script>
-->
</body></html>
